@{
    ViewData["Title"] = "AYUDATEST";
}
<br />
<br />
<br />
<br />
<br />
<br />
 <div id="carouselExampleControls" class="carousel slide  col-12" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSciKiwfDeaGi8oxTVLuYR0cL119gWIIChqYLytrButz2-rdHg/viewform">
                <img src="https://i.ibb.co/98b8kSP/Whats-App-Image-2022-05-17-at-1-47-15-AM.jpg" class="d-block w-100" >
              </a>
          </div>
          <div class="carousel-item">
              <a asp-controller="Home" asp-action="Buscar">
                <img src="https://i.ibb.co/jJ0SjYP/Whats-App-Image-2022-05-17-at-2-10-51-AM.jpg" class="d-block w-100">
              </a>
          </div>
          <div class="carousel-item">
              <a asp-controller="Home" asp-action="Mision">
                <img src="https://i.ibb.co/CWNWKQZ/Whats-App-Image-2022-05-17-at-2-33-07-AM.jpg" class="d-block w-100">
              </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<section class="inicio" id="inicio">
    <div class="content">
       <section class="inicio" id="inicio">
        <div class="content">
            <h3>Demostrando que la salud<span> psicologica </span>es importante</h3>
            <p>
                AYUDATEST Una empresa con preocupación por su sociedad en el ambito psicoemocional
            </p>
        </div>
        <div class="image">
            
            <img src="https://i.ibb.co/cytrGGS/Ajolote.png">
        </div>
    </section>
            <a class="btn" asp-controller="Home" asp-action="Menu">CONTINUAR</a>
            <br />
            <br />
            <p><b>*NOTA: </b>Al continuar estás aceptando los términos y condiciones. Para consultar los términos y
                condiciones da click en el siguiente enlace: <a asp-controller="Home" asp-action="Privacy">Términos y Condiciones</a></p>
    </div>
    <br/>
    <br />
</section>

