@{
    ViewData["Title"] = "MisionYvision";
}
<section class="introducción" id="introduccion">
    <h1 class="heading">Nuestro ser de la empresa</h1>
    <br>
    <br>
    <div class="caja-contenedor">
        <div class="caja">
            
            <h3>Misión</h3>
            <p>Somos una empresa que se dedica a atender las necesidades que surgen en el día a día de nuestros usuarios, así como mejorar nuestro servicio para tratar de abarcar más apartados en la psicología de la manera más efectiva.</p>
            <div class="image">
                <img src="https://i.ibb.co/CbV5S2R/mision-vision.jpg">
            </div>
        </div>


        <div class="caja">
             <div class="image imgvision">
                <img src="https://i.ibb.co/mcCybHN/Desarrollo-psicologico.jpg">
            </div>
            <h3>Visión</h3>
            <p>Nuestro proyecto consiste en realizar un formulario, el cual, se conteste una cierta cantidad de
                preguntas para obtener un prediagnóstico, al terminar está breve encuesta toda la
                información que se recabo y sé proceso se utilizara para obtener un documento con los resultados cada vez que el usuario lo
                requiera, para poder manejar su información se le pedirá su consentimiento dentro de la
                aplicación web, los parámetros que tenemos previstos son diferentes escenarios
                psicológicos que pueda tener el usuario, de manera que podamos
                darnos una delimitación dentro del propio formulario para así poder prediagnosticar al
                usuario. Así mismo, el usuario teniendo en cuenta su situación y que requiere ayuda pueda
                asistir al área de orientación con los resultados y poder tener esa información y abrir una
                carpeta para el usuario. </p>
        </div>
    </div>
    
</section>