@model PA.Models.IDModel;
@{
    ViewData["Title"] = "Actualización Exitosa";
}

<style>
    .btn {
        background: linear-gradient(#6a1bd1,#db88ff);
        border: 2px solid black;
        margin-left: 70px;
    }

        .btn:hover {
            background: linear-gradient(#6a1bd1,#db88ff);
            opacity: 0.5;
        }
</style>
<br />
<br />
<br />
<br />
<br />
<h1>LA PREGUNTA No° @Model._NoPregA DEL TEST DE ANSIEDAD HA SIDO ACTUALIZADA CORRECTAMENTE :)</h1>
<br />
<section class="Padre">
    <a asp-action="UpdateAn" class="btn"><i>REGRESAR A LA PESTAÑA ANTERIOR</i></a>
    <a asp-action="Index" class="btn"><i>REGRESAR AL INICIO</i></a>
</section>


